.jumbotron{
  background-color:

}
footer{
  padding: 1px 1px 1px;
  color:#17181b;
  margin-top: 10px;
  opacity: 3;
  background:url(../img/tulip.jpg) no-repeat center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #17181b;

  }

  .header .navbar {
  background-color: transparent !important;

}
.breadcrumb {
background-color:rgba(19, 104, 117, 0.77) !important;


}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;

}
.abs-center-list {
  display: flex;
  align-items: center;

}
.color-text{
  color:#795548;
}
.color-h1{
  color:#03a9f4;
}

/* .//cardview{
  flex: 1 150px;
  padding: 2px 6px 2px 6px;
  justify-content: space-around; */
}
.container .alert{
  background-color: rgba(19, 104, 117, 0.77) !important;
}
.estrella{
  color: yellow;
}
.casa{
  color:green;
}
